@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @Html.ActionLink("Ejercicio1", "Ejercicio1","Home",  new { nombre = "Alvaro" })

</div>
<div class="text-center">

    @Html.ActionLink("Ejercicio2", "Ejercicio2","Home",  new { nombre = "Alvaro" })

</div>
<div class="text-center">

    @Html.ActionLink("Ejercicio3", "Ejercicio3","Home",  new { nombre = "Alvaro" })

</div>
